
html{
    height: 100%;
    overflow: hidden;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

/* -------------------------------Nav------------------------------- */

nav{
    position: sticky;
    display: relative;
    top: 0px;
    z-index: 1;
}

.nav{
    background-color:rgba(0, 0, 0, 0.5);
}

.nav-link{
    color: white;
    letter-spacing: 0.3em;
}

.nav-item:hover {
    color: red !important;
}

/* -------------------------------Hero------------------------------- */

header{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 500px 0 32px;
    position: relative;
    transform-style: inherit;
    width: 100vw;
}

header h1{
    position: relative;
    text-align: center;
    top: -20vh;
    font-weight: normal;
    letter-spacing: 0.3em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

header, header::before{
    background: 50% / cover;
}

header::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 2em;
    display: block;
    background-image: url("assets/backgroundImage.png");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

/* -------------------------------About Me------------------------------- */

.about-me{
    margin-top: 50%;
    padding-top: 10%;
}

.about-me h3{
    text-align: center;
    padding-bottom: 7%;
    text-decoration: underline;
    font-size: 45px;
}

.about-me-pic{
    border-radius: 50%;
    width: auto;
    height: 300px;
    margin-left: 30%;
    border: white solid 2px;
}

.about-me-p{
    padding-right: 20%;
    letter-spacing: .2em;
}

/* -------------------------------Skills------------------------------- */

.skills-container{
    padding-top: 15%;
    width: 70%;
}

.skills-container h3{
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
    padding-bottom: 10%;
}

.skills-icon-link a{
    text-align: right;
    text-decoration: none;
    color: rgb(95, 95, 95);
    padding-top: 5%;
}

/* -------------------------------Projects------------------------------- */

.projects-container{
    margin-top: 5%;
    padding-top: 10%;
    text-align: center;
}

.projects-container h3{
    text-decoration: underline;
    font-size: 45px;
    padding-bottom: 5%;
}

.secondRow{
    padding-top: 5%;
}

.port-img{
    width: auto;
    height: 150px;
    border:rgb(68, 68, 68) solid 2px;
}

/* -------------------------------Contact------------------------------- */

.contact-container{
    padding-top: 10%;
    margin-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.contact-container h3{
    text-align: center;
    text-decoration: underline;
    font-size: 45px;
}

.full-name-container{
    margin-top: 8%;
}

input::placeholder{
    color: white;
}

#full-name{
    background-color: black;
    border: white solid 2px;
    border-radius: 5%;
}

.email-container{
    margin-top: 2%;
}

#email-address{
    background-color: black;
    border: white solid 2px;
    border-radius: 5%;
}

.message-container{
    margin-top: 2%;
}

#message{
    background-color: black;
    border: white solid 2px;
    border-radius: 5%;
}

.contact-submit{
    position: relative;
    left: 45%;
    margin-top: 2%;
    padding: 3px 20px 3px 20px;
    background-color: black;
    color: white;
    border-radius: 10%;
    border: white solid 2px;
    font-weight: bold;
}

/* -------------------------------Footer------------------------------- */

.footer-wrapper{
    width: 100%;
    height: 190%;
    margin-top: -2%;
    background-image: url("assets/footerBGEdit.png");
    background-size: 100% 100%;
    z-index: 20;
}

.footer-bar{
    position: relative;
    top: 85%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.5);
    border-top: rgb(0, 56, 0) solid 3px;
    border-bottom: rgb(0, 56, 0) solid 3px;
    z-index: 30;
    text-align: center;
}

.footer-bar h4{
    color: black;
    font-weight: bold;
    padding-top: 3%;
}

.footer-bar img{
    width: auto;
    height: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

/* -------------------------------Screen Sizing------------------------------- */

@media (max-width: 1200px){  
    /* ---------------About Me------------------- */ 
    .about-me h3{
        font-size: 35px;
    }
    
    .about-me-pic{
        height: 250px; 
    }
    
    .about-me-p{
        letter-spacing: 0;
    }
    
    /* --------------Skills-------------------- */

    .skills-container{
        padding-top: 25%;
        width: 50%;
    }
    
    .skills-container h3{
        font-size: 35px;
    }
    
    .skills-container img{
        padding-bottom: 20%;
    }

    /* --------------Projects-------------------- */
    
    .projects-container h3{
        font-size: 35px;
        padding-bottom: 10%;
    }
    
    .port-img{
        height: 120px;
    }

    /* --------------Contact-------------------- */

    .contact-container h3{
        font-size: 35px;
    }

    /* --------------Footer-------------------- */

    .footer-wrapper{
        height: 150%;
    }

    .footer-bar img{
        height: 70px;
    }
}

@media (max-width: 993px){
    /* --------------About Me-------------------- */
    .about-me{
        margin-top: 70%;
        padding-top: 15%;
    }
    
    .about-me h3{
        font-size: 35px;
        padding-top: 10%;
    }
    
    .about-me-pic{
        height: 200px;
        margin-left: 20%;
    }
    
    .about-me-p{
        padding-right: 10%;
        font-size: 16px;
    }

    /* --------------Skills-------------------- */

    .skills-container{
        margin-top: 10%;
        padding-top: 25%;
        width: 50%;
    }
    
    .skills-container h3{
        font-size: 35px;
    }
    
    .skills-container img{
        padding-bottom: 20%;
        width: auto;
        height: 150px;
        padding-left: 22%;
    }

    /* --------------Projects-------------------- */

    .projects-container h3{
        font-size: 35px;
        padding-bottom: 20%;
    }

    .projects-container h4{
        font-size: 25px;
    }
    
    .port-img{
        height: 100px;
    }

    /* --------------Footer-------------------- */

    .footer-wrapper{
        height: 120%;
    }

    .footer-bar img{
        height: 50px;
    }
}

@media (max-width: 640px){
    /* --------------About Me-------------------- */
    .about-me{
        padding-top: 20%;
    }
    
    .about-me-p{
        font-size: 14px;
    }

    /* --------------Skills-------------------- */

    .skills-container{
        margin-top: 25%;
        padding-top: 25%;
        width: 80%;
    }

    /* --------------Projects-------------------- */

    .projects-container h3{
        font-size: 35px;
        padding-bottom: 20%;
        padding-top: 20%;
    }

    .projects-container h4{
        font-size: 15px;
    }
    
    .port-img{
        height: 80px;
    }

    /* --------------Contact-------------------- */

    .contact-container h3{
        padding-top: 25%;
    }

    /* --------------Footer-------------------- */

    .footer-wrapper{
        
        height: 80%;
    }

    .footer-bar img{
        height: 30px;
    }

    .footer-bar h4{
        font-size: 14px;
    }
}